{% extends 'base.html.twig' %}

{% block title %}New SchoolTour{% endblock %}

{% block body %}
    <h1>Create new SchoolTour</h1>

    {{ include('school_tour/_form.html.twig') }}

    <a href="{{ path('app_school_tour_index') }}">back to list</a>
{% endblock %}
