<form method="post" action="{{ path('app_vrr_busstop_delete', {'STOP_NR': vrr_busstop.STOP_NR}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vrr_busstop.STOP_NR) }}">
    <button class="btn">Delete</button>
</form>
