{% extends 'base.html.twig' %}

{% block title %}Edit VrrBusstop{% endblock %}

{% block body %}
    <h1>Edit VrrBusstop</h1>

    {{ include('vrr_busstop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vrr_busstop_index') }}">back to list</a>

    {{ include('vrr_busstop/_delete_form.html.twig') }}
{% endblock %}
