{% extends 'base.html.twig' %}

{% block title %}New VrrBusstop{% endblock %}

{% block body %}
    <h1>Create new VrrBusstop</h1>

    {{ include('vrr_busstop/_form.html.twig') }}

    <a href="{{ path('app_vrr_busstop_index') }}">back to list</a>
{% endblock %}
