{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script>
$(function() {
  $('.js-address-autocomplete').each(function() {
    var $select = $(this);

    $select.select2({
      ajax: {
        url: $select.data('autocomplete-url'),
        dataType: 'json',
        delay: 300,
        data: function (params) {
          return { q: params.term };
        },
        processResults: function (data) {
          return { results: data.results };
        },
        cache: true
      },
      minimumInputLength: 3,
      width: '100%',
      templateResult: function(item) { return item.text; },
      templateSelection: function(item) { return item.text; }
    });

    // Beim Editieren: aktuelle Adresse laden und setzen
    var selectedId = $select.val();
    if (selectedId) {
      $.ajax({
        url: $select.data('autocomplete-url'),
        data: { id: selectedId },
        dataType: 'json'
      }).done(function(data) {
        if (data.results && data.results.length) {
          var option = new Option(data.results[0].text, data.results[0].id, true, true);
          $select.append(option).trigger('change');
        }
      });
    }

    // Nach Auswahl ebenfalls Option setzen (wie vorher beschrieben)
    $select.on('select2:select', function(e) {
      var data = e.params.data;
      var option = new Option(data.text, data.id, true, true);
      $select.append(option).trigger('change');
    });
  });
});

</script>