{% extends 'base.html.twig' %}

{% block title %}Edit SystemOwner{% endblock %}

{% block body %}
    <h1>Edit SystemOwner</h1>

    {{ include('system_owner/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_system_owner_index') }}">back to list</a>

    {{ include('system_owner/_delete_form.html.twig') }}
{% endblock %}
