{% extends 'base.html.twig' %}

{% block title %}New SystemOwner{% endblock %}

{% block body %}
    <h1>Create new SystemOwner</h1>

    {{ include('system_owner/_form.html.twig') }}

    <a href="{{ path('app_system_owner_index') }}">back to list</a>
{% endblock %}
