<table style="width: 100%; max-width: 300px; font-family: Arial, sans-serif; color: #333;">
    <tr>
        <td style="width: 100px; vertical-align: top;">
            <!-- Platz für Logo -->
        </td>
        <td style="vertical-align: top;">
            
        </td>
    </tr>
</table>
