<form method="post" action="{{ path('app_dialogue_reference_delete', {'id': dialogue_reference.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dialogue_reference.id) }}">
    <button class="btn">Delete</button>
</form>
