{% extends 'base.html.twig' %}

{% block title %}Edit AiManager{% endblock %}

{% block body %}
    <h1>Edit AiManager</h1>

    {{ include('ai_manager/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
