{% extends 'base.html.twig' %}

{% block title %}New UserLoginHistory{% endblock %}

{% block body %}
    <h1>Create new UserLoginHistory</h1>

    {{ include('user_login_history/_form.html.twig') }}

    <a href="{{ path('app_user_login_history_index') }}">back to list</a>
{% endblock %}
