doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        profiling_collect_backtrace: '%kernel.debug%'
        # Verhindert, dass Doctrine versucht Tabellen wie user_session anzufassen
        schema_filter: '~^(?!user_session|sessions).*~'

    orm:
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        # Wir deaktivieren _nur_ die Entity Listener Logik
        entity_listeners: { }

# Globaler Service-Override, NICHT unter "orm"
services:
    doctrine.orm.listeners.pdo_session_handler_schema_listener:
        class: Doctrine\Bundle\DoctrineBundle\EventListener\PdoSessionHandlerSchemaListener
        tags: []


when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
