nelmio_api_doc:
  documentation:
    info:
      title: 'Joormann-Media API'
      description: 'Joormann-Media API'
      version: '1.0.0'
  areas:
    default:
      path_patterns:
        - ^/api(?!/doc$)
