{% extends 'base.html.twig' %}

{% block title %}New ProjectStatistics{% endblock %}

{% block body %}
    <h1>Create new ProjectStatistics</h1>

    {{ include('project_statistics/_form.html.twig') }}

    <a href="{{ path('app_project_statistics_index') }}">back to list</a>
{% endblock %}
