<form method="post" action="{{ path('app_module_manager_delete', {'id': module_manager.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module_manager.id) }}">
    <button class="btn">Delete</button>
</form>
