<form method="post" action="{{ path('app_rumfass_wisdom_delete', {'id': rumfass_wisdom.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rumfass_wisdom.id) }}">
    <button class="btn">Delete</button>
</form>
