{% extends 'base.html.twig' %}

{% block title %}Edit SshApiKeys{% endblock %}

{% block body %}
    <h1>Edit SshApiKeys</h1>

    {{ include('ssh_api_keys/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ssh_api_keys_index') }}">back to list</a>

    {{ include('ssh_api_keys/_delete_form.html.twig') }}
{% endblock %}
