{% extends 'base.html.twig' %}

{% block title %}New SshApiKeys{% endblock %}

{% block body %}
    <h1>Create new SshApiKeys</h1>

    {{ include('ssh_api_keys/_form.html.twig') }}

    <a href="{{ path('app_ssh_api_keys_index') }}">back to list</a>
{% endblock %}
