{% extends 'base.html.twig' %}

{% block title %}Edit GameStats{% endblock %}

{% block body %}
    <h1>Edit GameStats</h1>

    {{ include('game_stats/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_game_stats_index') }}">back to list</a>

    {{ include('game_stats/_delete_form.html.twig') }}
{% endblock %}
