{% extends 'base.html.twig' %}

{% block title %}Edit PartnerCompany{% endblock %}

{% block body %}
    <h1>Edit PartnerCompany</h1>

    {{ include('partner_company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_partner_company_index') }}">back to list</a>

    {{ include('partner_company/_delete_form.html.twig') }}
{% endblock %}
