{% extends 'base.html.twig' %}

{% block title %}New PartnerCompany{% endblock %}

{% block body %}
    <h1>Create new PartnerCompany</h1>

    {{ include('partner_company/_form.html.twig') }}

    <a href="{{ path('app_partner_company_index') }}">back to list</a>
{% endblock %}
