{% extends 'base.html.twig' %}

{% block title %}Edit VehicleDocument{% endblock %}

{% block body %}
    <h1>Edit VehicleDocument</h1>

    {{ include('vehicle_document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vehicle_document_index') }}">back to list</a>

    {{ include('vehicle_document/_delete_form.html.twig') }}
{% endblock %}
