{% extends 'base.html.twig' %}

{% block title %}New VehicleDocument{% endblock %}

{% block body %}
    <h1>Create new VehicleDocument</h1>

    {{ include('vehicle_document/_form.html.twig') }}

    <a href="{{ path('app_vehicle_document_index') }}">back to list</a>
{% endblock %}
