{% extends 'base.html.twig' %}

{% block title %}New UserDeviceLog{% endblock %}

{% block body %}
    <h1>Create new UserDeviceLog</h1>

    {{ include('user_device_log/_form.html.twig') }}

    <a href="{{ path('app_user_device_log_index') }}">back to list</a>
{% endblock %}
