{% extends 'base.html.twig' %}

{% block title %}Edit ApiDocumentation{% endblock %}

{% block body %}
    <h1>Edit ApiDocumentation</h1>

    {{ include('api_documentation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_api_documentation_index') }}">back to list</a>

    {{ include('api_documentation/_delete_form.html.twig') }}
{% endblock %}
