{% extends 'base.html.twig' %}

{% block title %}New ApiDocumentation{% endblock %}

{% block body %}
    <h1>Create new ApiDocumentation</h1>

    {{ include('api_documentation/_form.html.twig') }}

    <a href="{{ path('app_api_documentation_index') }}">back to list</a>
{% endblock %}
