{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit CodeIdentifier</h1>

    {{ include('code_identifier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_code_identifier_index') }}">back to list</a>

    {{ include('code_identifier/_delete_form.html.twig') }}
{% endblock %}
