{% extends 'base.html.twig' %}

{% block title %}Edit Schoolkids{% endblock %}

{% block body %}
    <h1>Edit Schoolkids</h1>

    {{ include('schoolkids/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_schoolkids_index') }}">back to list</a>

    {{ include('schoolkids/_delete_form.html.twig') }}
{% endblock %}
