{% extends 'base.html.twig' %}

{% block title %}New Schoolkids{% endblock %}

{% block body %}
    <h1>Create new Schoolkids</h1>

    {{ include('schoolkids/_form.html.twig') }}

    <a href="{{ path('app_schoolkids_index') }}">back to list</a>
{% endblock %}
