<form method="post" action="{{ path('app_auftraggeber_delete', {'id': auftraggeber.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auftraggeber.id) }}">
    <button class="btn">Delete</button>
</form>
