<div class="mb-3">
  <label for="basicData" class="form-label">Inhalt</label>
  <input type="text" class="form-control" id="basicData" name="qrData[basic]" placeholder="Text oder Link einfügen">
</div>
