<div class="mb-3">
  <label for="iban" class="form-label">IBAN</label>
  <input type="text" class="form-control" id="iban" name="qrData[iban][iban]" placeholder="DE...">
</div>
<div class="mb-3">
  <label for="bic" class="form-label">BIC</label>
  <input type="text" class="form-control" id="bic" name="qrData[iban][bic]" placeholder="z. B. COBADEFFXXX">
</div>
<div class="mb-3">
  <label for="ibanName" class="form-label">Empfänger</label>
  <input type="text" class="form-control" id="ibanName" name="qrData[iban][name]" placeholder="Name des Empfängers">
</div>
<div class="mb-3">
  <label for="ibanPurpose" class="form-label">Verwendungszweck</label>
  <input type="text" class="form-control" id="ibanPurpose" name="qrData[iban][reason]" placeholder="z. B. Rechnung 123">
</div>
