<div class="mb-3">
  <label for="plainText" class="form-label">Text</label>
  <textarea class="form-control" id="plainText" name="qrData[text]" rows="4" placeholder="Einfacher Text..."></textarea>
</div>
