<div class="mb-3">
  <label for="eventTitle" class="form-label">Titel</label>
  <input type="text" class="form-control" id="eventTitle" name="qrData[event][title]" placeholder="z. B. Meeting">
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="eventStart" class="form-label">Startzeit</label>
    <input type="datetime-local" class="form-control" id="eventStart" name="qrData[event][start]">
  </div>
  <div class="col-md-6 mb-3">
    <label for="eventEnd" class="form-label">Endzeit</label>
    <input type="datetime-local" class="form-control" id="eventEnd" name="qrData[event][end]">
  </div>
</div>
<div class="mb-3">
  <label for="eventLocation" class="form-label">Ort</label>
  <input type="text" class="form-control" id="eventLocation" name="qrData[event][location]" placeholder="Ort der Veranstaltung">
</div>
