<div class="mb-3">
  <label for="smsNumber" class="form-label">Telefonnummer</label>
  <input type="tel" class="form-control" id="smsNumber" name="qrData[sms][number]" placeholder="+49123456789">
</div>
<div class="mb-3">
  <label for="smsMessage" class="form-label">Nachricht</label>
  <textarea class="form-control" id="smsMessage" name="qrData[sms][message]" rows="3"></textarea>
</div>
