<div class="mb-3">
  <label for="foregroundColor" class="form-label">Vordergrundfarbe</label>
  <input type="color" class="form-control form-control-color" id="foregroundColor" name="qrData[style][fgColor]" value="#000000">
</div>
<div class="mb-3">
  <label for="backgroundColor" class="form-label">Hintergrundfarbe</label>
  <input type="color" class="form-control form-control-color" id="backgroundColor" name="qrData[style][bgColor]" value="#ffffff">
</div>
<div class="mb-3">
  <label for="logoUpload" class="form-label">Logo (optional)</label>
  <input type="file" class="form-control" id="logoUpload" name="qrData[style][logo]">
</div>
