{% extends 'base.html.twig' %}

{% block title %}Edit MessageRecipient{% endblock %}

{% block body %}
    <h1>Edit MessageRecipient</h1>

    {{ include('message_recipient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_message_recipient_index') }}">back to list</a>

    {{ include('message_recipient/_delete_form.html.twig') }}
{% endblock %}
