{% extends 'base.html.twig' %}

{% block title %}Edit MileageLog{% endblock %}

{% block body %}
    <h1>Edit MileageLog</h1>

    {{ include('mileage_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mileage_log_index') }}">back to list</a>

    {{ include('mileage_log/_delete_form.html.twig') }}
{% endblock %}
