{% extends 'base.html.twig' %}

{% block title %}New KidsBlacklist{% endblock %}

{% block body %}
    <h1>Create new KidsBlacklist</h1>

    {{ include('kids_blacklist/_form.html.twig') }}

    <a href="{{ path('app_kids_blacklist_index') }}">back to list</a>
{% endblock %}
