{% extends 'base.html.twig' %}

{% block title %}Edit SchoolkidAbsence{% endblock %}

{% block body %}
    <h1>Edit SchoolkidAbsence</h1>

    {{ include('schoolkid_absence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_schoolkid_absence_index') }}">back to list</a>

    {{ include('schoolkid_absence/_delete_form.html.twig') }}
{% endblock %}
