{% extends 'base.html.twig' %}

{% block title %}New SchoolkidAbsence{% endblock %}

{% block body %}
    <h1>Create new SchoolkidAbsence</h1>

    {{ include('schoolkid_absence/_form.html.twig') }}

    <a href="{{ path('app_schoolkid_absence_index') }}">back to list</a>
{% endblock %}
