{% extends 'base.html.twig' %}

{% block title %}New LicenceClass{% endblock %}

{% block body %}
    <h1>Create new LicenceClass</h1>

    {{ include('licence_class/_form.html.twig') }}

    <a href="{{ path('app_licence_class_index') }}">back to list</a>
{% endblock %}
