{% extends 'base.html.twig' %}

{% block title %}Edit GeoCoordinate{% endblock %}

{% block body %}
    <h1>Edit GeoCoordinate</h1>

    {{ include('geo_coordinate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_geo_coordinate_index') }}">back to list</a>

    {{ include('geo_coordinate/_delete_form.html.twig') }}
{% endblock %}
