{% extends 'base.html.twig' %}

{% block title %}Edit ApiClient{% endblock %}

{% block body %}
    <h1>Edit ApiClient</h1>

    {{ include('api_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_api_client_index') }}">back to list</a>

    {{ include('api_client/_delete_form.html.twig') }}
{% endblock %}
