{% extends 'base.html.twig' %}

{% block title %}New SoundReference{% endblock %}

{% block body %}
    <h1>Create new SoundReference</h1>

    {{ include('sound_reference/_form.html.twig') }}

    <a href="{{ path('app_sound_reference_index') }}">back to list</a>
{% endblock %}
