{% extends 'base.html.twig' %}

{% block title %}New CodingLanguage{% endblock %}

{% block body %}
    <h1>Create new CodingLanguage</h1>

    {{ include('coding_language/_form.html.twig') }}

    <a href="{{ path('app_coding_language_index') }}">back to list</a>
{% endblock %}
