<form method="post" action="{{ path('app_vehicle_inspection_interval_delete', {'id': vehicle_inspection_interval.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicle_inspection_interval.id) }}">
    <button class="btn">Delete</button>
</form>
