<form method="post" action="{{ path('app_code_identifier_delete', {'id': code_identifier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ code_identifier.id) }}">
    <button class="btn">Delete</button>
</form>
