<form method="post" action="{{ path('app_shell_commands_delete', {'id': shell_command.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shell_command.id) }}">
    <button class="btn">Delete</button>
</form>
