{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit ShellCommands</h1>

    {{ include('shell_commands/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_shell_commands_index') }}">back to list</a>

    {{ include('shell_commands/_delete_form.html.twig') }}
{% endblock %}
