{% extends 'base.html.twig' %}

{% block title %}New BackupManager{% endblock %}

{% block body %}
    <h1>Create new BackupManager</h1>

    {{ include('backup_manager/_form.html.twig') }}

    <a href="{{ path('app_backup_manager_index') }}">back to list</a>
{% endblock %}
