{% extends 'base.html.twig' %}

{% block title %}Edit RumfassWisdom{% endblock %}

{% block body %}
    <h1>Edit RumfassWisdom</h1>

    {{ include('rumfass_wisdom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rumfass_wisdom_index') }}">back to list</a>

    {{ include('rumfass_wisdom/_delete_form.html.twig') }}
{% endblock %}
