{% extends 'base.html.twig' %}

{% block title %}New RumfassWisdom{% endblock %}

{% block body %}
    <h1>Create new RumfassWisdom</h1>

    {{ include('rumfass_wisdom/_form.html.twig') }}

    <a href="{{ path('app_rumfass_wisdom_index') }}">back to list</a>
{% endblock %}
