{% extends 'base.html.twig' %}


{% block body %}
    <h1>Lösch-Ergebnis</h1>

    {% if result.success %}
        <p style="color: green">{{ result.message }}</p>
    {% else %}
        <p style="color: red">{{ result.message }}</p>
    {% endif %}

    <h3>Log:</h3>
    <ul>
        {% for entry in result.log %}
            <li>{{ entry }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_admin_user_admin_index') }}" class="btn btn-primary mt-3">Zurück zur Liste</a>
{% endblock %}
