{% extends 'base.html.twig' %}

{% block title %}Edit ConcessionManager{% endblock %}

{% block body %}
    <h1>Edit ConcessionManager</h1>

    {{ include('concession_manager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_concession_manager_index') }}">back to list</a>

    {{ include('concession_manager/_delete_form.html.twig') }}
{% endblock %}
