<form method="post" action="{{ path('app_symfony_session_delete', {'sessId': symfony_session.sessId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ symfony_session.sessId) }}">
    <button class="btn">Delete</button>
</form>
