{% extends 'base.html.twig' %}

{% block title %}Edit SymfonySession{% endblock %}

{% block body %}
    <h1>Edit SymfonySession</h1>

    {{ include('symfony_session/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_symfony_session_index') }}">back to list</a>

    {{ include('symfony_session/_delete_form.html.twig') }}
{% endblock %}
