<div class="row" style="max-height: 60vh;">
    <div class="col-3 border-end" id="directoryTree" style="overflow:auto;"></div>
    <div class="col-5" id="directoryContent" style="overflow:auto;"></div>
    <div class="col-4" id="selectedFiles" style="overflow:auto;">

        <h6>Ausgewählte Dateien</h6>
        <ul class="list-group" id="selectedFileList"></ul>
    </div>
</div>
<div class="d-flex justify-content-end gap-2 mt-3">
    <button type="button" class="btn btn-primary" id="applyFiles">Übernehmen</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
</div>


