{% extends 'base.html.twig' %}

{% block title %}New NfcStickerCard{% endblock %}

{% block body %}
    <h1>Create new NfcStickerCard</h1>

    {{ include('nfc_sticker_card/_form.html.twig') }}

    <a href="{{ path('app_nfc_sticker_card_index') }}">back to list</a>
{% endblock %}
