{% extends 'base.html.twig' %}

{% block title %}Edit VehicleTracking{% endblock %}

{% block body %}
    <h1>Edit VehicleTracking</h1>

    {{ include('vehicle_tracking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vehicle_tracking_index') }}">back to list</a>

    {{ include('vehicle_tracking/_delete_form.html.twig') }}
{% endblock %}
