<form method="post" action="{{ path('app_shortcode_image_delete', {'id': shortcode_image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shortcode_image.id) }}">
    <button class="btn">Delete</button>
</form>
