{% extends 'base.html.twig' %}

{% block title %}Edit DriverManager{% endblock %}

{% block body %}
    <h1>Edit DriverManager</h1>

    {{ include('driver_manager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_driver_manager_index') }}">back to list</a>

    {{ include('driver_manager/_delete_form.html.twig') }}
{% endblock %}
