{% extends 'base.html.twig' %}

{% block title %}New DriverManager{% endblock %}

{% block body %}
    <h1>Create new DriverManager</h1>

    {{ include('driver_manager/_form.html.twig') }}

    <a href="{{ path('app_driver_manager_index') }}">back to list</a>
{% endblock %}
