{% extends 'base.html.twig' %}

{% block title %}New RideVariation{% endblock %}

{% block body %}
    <h1>Create new RideVariation</h1>

    {{ include('ride_variation/_form.html.twig') }}

    <a href="{{ path('app_ride_variation_index') }}">back to list</a>
{% endblock %}
