{% extends 'base.html.twig' %}

{% block title %}New SchoolDeparture{% endblock %}

{% block body %}
    <h1>Create new SchoolDeparture</h1>

    {{ include('school_departure/_form.html.twig') }}

    <a href="{{ path('app_school_departure_index') }}">back to list</a>
{% endblock %}
