{% extends 'base.html.twig' %}

{% block title %}New EmployeeAbsence{% endblock %}

{% block body %}
    <h1>Create new EmployeeAbsence</h1>

    {{ include('employee_absence/_form.html.twig') }}

    <a href="{{ path('app_employee_absence_index') }}">back to list</a>
{% endblock %}
