{% extends 'base.html.twig' %}

{% block title %}Edit SchoolTourStop{% endblock %}

{% block body %}
    <h1>Edit SchoolTourStop</h1>

    {{ include('school_tour_stop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_school_tour_stop_index') }}">back to list</a>

    {{ include('school_tour_stop/_delete_form.html.twig') }}
{% endblock %}
