{% extends 'base.html.twig' %}

{% block title %}New SchoolTourStop{% endblock %}

{% block body %}
    <h1>Create new SchoolTourStop</h1>

    {{ include('school_tour_stop/_form.html.twig') }}

    <a href="{{ path('app_school_tour_stop_index') }}">back to list</a>
{% endblock %}
