{% extends 'base.html.twig' %}

{% block title %}New CityPostalcode{% endblock %}

{% block body %}
    <h1>Create new CityPostalcode</h1>

    {{ include('city_postalcode/_form.html.twig') }}

    <a href="{{ path('app_city_postalcode_index') }}">back to list</a>
{% endblock %}
