{% extends 'base.html.twig' %}

{% block title %}New ContactPerson{% endblock %}

{% block body %}
    <h1>Create new ContactPerson</h1>

    {{ include('contact_person/_form.html.twig') }}

    <a href="{{ path('app_contact_person_index') }}">back to list</a>
{% endblock %}
