{% extends 'base.html.twig' %}

{% block title %}New Documentations{% endblock %}

{% block body %}
    <h1>Create new Documentations</h1>

    {{ include('documentations/_form.html.twig') }}

    <a href="{{ path('app_documentations_index') }}">back to list</a>
{% endblock %}
