{% extends 'base.html.twig' %}

{% block title %}Edit PostalCode{% endblock %}

{% block body %}
    <h1>Edit PostalCode</h1>

    {{ include('postal_code/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_postal_code_index') }}">back to list</a>

    {{ include('postal_code/_delete_form.html.twig') }}
{% endblock %}
