{% extends 'base.html.twig' %}

{% block title %}New PostalCode{% endblock %}

{% block body %}
    <h1>Create new PostalCode</h1>

    {{ include('postal_code/_form.html.twig') }}

    <a href="{{ path('app_postal_code_index') }}">back to list</a>
{% endblock %}
