{% extends 'base.html.twig' %}

{% block title %}New GpsPosition{% endblock %}

{% block body %}
    <h1>Create new GpsPosition</h1>

    {{ include('gps_position/_form.html.twig') }}

    <a href="{{ path('app_gps_position_index') }}">back to list</a>
{% endblock %}
