{% extends 'base.html.twig' %}

{% block title %}Edit VacationBooking{% endblock %}

{% block body %}
    <h1>Edit VacationBooking</h1>

    {{ include('vacation_booking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vacation_booking_index') }}">back to list</a>

    {{ include('vacation_booking/_delete_form.html.twig') }}
{% endblock %}
