{% extends 'base.html.twig' %}

{% block title %}New VacationBooking{% endblock %}

{% block body %}
    <h1>Create new VacationBooking</h1>

    {{ include('vacation_booking/_form.html.twig') }}

    <a href="{{ path('app_vacation_booking_index') }}">back to list</a>
{% endblock %}
