{% extends 'base.html.twig' %}

{% block title %}New CheatSheet{% endblock %}

{% block body %}
    <h1>Create new CheatSheet</h1>

    {{ include('cheat_sheet/_form.html.twig') }}

    <a href="{{ path('app_cheat_sheet_index') }}">back to list</a>
{% endblock %}
