{% extends 'base.html.twig' %}

{% block title %}New MessageStatus{% endblock %}

{% block body %}
    <h1>Create new MessageStatus</h1>

    {{ include('message_status/_form.html.twig') }}

    <a href="{{ path('app_message_status_index') }}">back to list</a>
{% endblock %}
