{% extends 'base.html.twig' %}

{% block title %}New OnlineStatusConfig{% endblock %}

{% block body %}
    <h1>Create new OnlineStatusConfig</h1>

    {{ include('online_status_config/_form.html.twig') }}

    <a href="{{ path('app_online_status_config_index') }}">back to list</a>
{% endblock %}
