{% extends 'base.html.twig' %}

{% block title %}Edit EmployeeEvent{% endblock %}

{% block body %}
    <h1>Edit EmployeeEvent</h1>

    {{ include('employee_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_employee_event_index') }}">back to list</a>

    {{ include('employee_event/_delete_form.html.twig') }}
{% endblock %}
