<form method="post" action="{{ path('app_security_access_log_delete', {'id': security_access_log.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ security_access_log.id) }}">
    <button class="btn">Delete</button>
</form>
