{% extends 'base.html.twig' %}

{% block title %}Edit SecurityAccessLog{% endblock %}

{% block body %}
    <h1>Edit SecurityAccessLog</h1>

    {{ include('security_access_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_security_access_log_index') }}">back to list</a>

    {{ include('security_access_log/_delete_form.html.twig') }}
{% endblock %}
