{% extends 'base.html.twig' %}

{% block title %}New LogHistory{% endblock %}

{% block body %}
    <h1>Create new LogHistory</h1>

    {{ include('log_history/_form.html.twig') }}

    <a href="{{ path('app_log_history_index') }}">back to list</a>
{% endblock %}
