{% extends 'base.html.twig' %}

{% block title %}New DiscordWebhookHistory{% endblock %}

{% block body %}
    <h1>Create new DiscordWebhookHistory</h1>

    {{ include('discord_webhook_history/_form.html.twig') }}

    <a href="{{ path('app_discord_webhook_history_index') }}">back to list</a>
{% endblock %}
