{% extends 'base.html.twig' %}

{% block title %}New GraphicsReference{% endblock %}

{% block body %}
    <h1>Create new GraphicsReference</h1>

    {{ include('graphics_reference/_form.html.twig') }}

    <a href="{{ path('app_graphics_reference_index') }}">back to list</a>
{% endblock %}
