{% extends 'base.html.twig' %}

{% block title %}New UserMenuConfig{% endblock %}

{% block body %}
    <h1>Create new UserMenuConfig</h1>

    {{ include('user_menu_config/_form.html.twig') }}

    <a href="{{ path('app_user_menu_config_index') }}">back to list</a>
{% endblock %}
