{% extends 'base.html.twig' %}

{% block title %}Edit NFCScan{% endblock %}

{% block body %}
    <h1>Edit NFCScan</h1>

    {{ include('nfc_scan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nfc_scan_index') }}">back to list</a>

    {{ include('nfc_scan/_delete_form.html.twig') }}
{% endblock %}
